$topnav-background-color: #18638c;
:host {
    .navbar {
        position: absolute;
        z-index: 1;
        background-color: $topnav-background-color;
        border-bottom: 1px solid #fff;

        .navbar-brand {
            color: #fff;
            padding-top: 20px;
            margin-left: 70px;
            font-size: 20px;
        }

        .nav-item > a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            &:hover { 
                background-color: rgba(0,0,0,0);
                color: rgb(97, 138, 252);
            }
        }
        
    }
}

a:link {
    text-decoration:none;  
}