<div [@routerTransition]>

    <div class="header">
        <h2 class="page-header"> Administração de Usuários do Sistema</h2>
        <hr>
    </div>


    <!--     <app-page-header [rota]="'/dashboard'" [titulo]="'Dashboard'" [heading]="'Administração
                 de Usuários do Sistema'" [icon]="'fa-wrench'"></app-page-header>
    
        <div class="card card-default mb-3">
            <div class="card-header">
                <i class="fa fa-address-card"></i>
                Selecione a opção desejada
            </div>
        </div>
     -->


    <div class="row">

        <div class="col-md-2 col-md-4 col-cards">
            <div class="contact-area">
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <img src="https://image.flaticon.com/icons/svg/190/190653.svg" alt="Profile Image">

                                <aside>
                                    <h1>Cadastro de Usuário</h1>
                                    <p>Cadastre um novo usuário</p>
                                </aside>

                                <button class="btn" (click)="addNewUser()">
                                    <span>Cadastrar</span>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                        <g class="nc-icon-wrapper" fill="#444444">
                                            <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>

                            <div class="title">
                                <p>Contact Me</p>
                            </div>
                        </section>


                    </main>


                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-4 col-cards">
                <div class="contact-area">
                    <div class="contact">
                        <main>
                            <section>
                                <div class="content">
                                    <img src="https://image.flaticon.com/icons/svg/190/190653.svg" alt="Profile Image">
    
                                    <aside>
                                        <h1>Cadastro de Usuário</h1>
                                        <p>Cadastre um novo usuário</p>
                                    </aside>
    
                                    <button class="btn" (click)="addNewUser()">
                                        <span>Cadastrar</span>
    
                                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                            <g class="nc-icon-wrapper" fill="#444444">
                                                <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
    
                                <div class="title">
                                    <p>Contact Me</p>
                                </div>
                            </section>
    
    
                        </main>
    
    
                    </div>
                </div>
            </div>
    

        <div class="col-md-2 col-md-4 col-cards">
            <div class="contact-area">
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <img src="https://image.flaticon.com/icons/svg/190/190653.svg" alt="Profile Image">

                                <aside>
                                    <h1>Listagem de Usuário</h1>
                                    <p> Lista de usuários no sistema </p>
                                </aside>

                                <button (click)="listUsers()" class="btn">
                                    <span>Listagem</span>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                        <g class="nc-icon-wrapper" fill="#444444">
                                            <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>

                            <div class="title">
                                <p>Contact Me</p>
                            </div>
                        </section>


                    </main>


                </div>
            </div>
        </div>

    </div>
</div>