<div *ngIf="!visualization">

        <app-page-header 
            [rota]=array>
        </app-page-header>
    
        <div class="row navbar">
            <div class="row navbar-search">
    
                <select class="custom-select" #selectSearch>
                    <option disabled selected value> {{ 'buscar por..' | translate }}' </option>
                    <option value="name"> nome </option>
                    <option value="cpf"> cpf </option>
                    <option value="rg"> rg </option>
                </select>
    
                <div class="col-md-2">
                    <input class="form-control" type="search" placeholder="buscar.." aria-label="Search" #inputSearch (keyup)="search( selectSearch.value, inputSearch.value)">
                </div>
    
                <button class="btn btn-primary busca" type="submit" (click)="search(selectSearch.value, inputSearch.value)">
                    {{ 'Buscar' | translate }}
                </button>
    
                <div id="qtdForPage">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label style="margin-right:5px;">{{ 'Exibir' | translate }}</label>
                            <select class="selectpicker form-control ads" #select (change)="quantPorPagina(select.value)">
                                <option value="10"> 10 </option>
                                <option value="15"> 15 </option>
                                <option value="20"> 20 </option>
                                <option value="25"> 25 </option>
                                <option value="0"> {{ 'Todos' | translate }} </option>
                            </select>
                            <label style="margin-left:5px;">{{ 'Registros' | translate }}</label>
                        </div>
                    </form>
                </div>
            </div>
    
            <table>
                <thead>
                    <tr>
                        <th> {{ 'Nome Completo' | translate }} </th>
                        <th> E-mail </th>
                        <th> CPF </th>
                        <th> Status </th>
                        <th id="ultimo-th"> {{ 'Ações' | translate }} </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let user of apiUser">
                        <td> {{ user.name }} </td>
                        <td> {{ user.email }}</td>
                        <td> {{ user.documents[0].value }}</td>
                        <!-- *********************** HABILITADO ******************************** -->
                        <td *ngIf="user.active"> {{ 'Ativado' | translate }}
                            <br>
                            <label class="switch">
                                <input type="checkbox" (click)="trocaStatus(user)" checked>
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <!-- *********************** DESABILITADO ******************************** -->
                        <td *ngIf="!user.active"> {{ 'Desativado' | translate }}
                            <br>
                            <label class="switch">
                                <input type="checkbox" (click)="trocaStatus(user)">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td id="excessao">
                            <div class=container>
                                <!-- *********************** VISUALIZAR ******************************** -->
                                <button id="visualization" type="submit" title="Visualizar cadastro" (click)="openVisualization(user._id)">
                                    <span class="fa fa-eye"></span>
                                </button>
                            
                            <!-- <ng-template #contentVisu let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <button id="btnVisu" type="submit" (click)="addNewUser()" (click)="d('Cross click')">
                                        <span class="fa fa-user-plus"></span>
                                    </button>
    
                                    <button id="btnVisu" type="submit" (click)="editUsers(user)" (click)="d('Cross click')">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </button>
    
                                    <button id="btnVisu" type="submit" (click)="openDelete(content)" (click)="d('Cross click')">
                                        <span class="fa fa-user-times"></span>
                                    </button>
                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <thead>
    
                                </thead>
                            </ng-template> -->
    
                                <!-- *********************** EDITAR ******************************** -->
                                <button id="edit" type="submit" title="Editar Usuário" (click)="editUsers(user)">
                                    <span class="fa fa-pencil"></span>
                                </button>
    
                                <!-- *********************** DELETAR ******************************** -->
                                <button id="delete" type="submit" class="btn btn-primary delete" title="Deletar usuário" (click)="openDelete(content)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
    
                            <ng-template #content let-c="close">
                                <div class="modal-header">
                                    <h2 class="modal-title">{{ 'Excluir' | translate }}</h2>
                                </div>
                                <div class="modal-body">
                                    <h5 class="modal-title">{{ 'Deseja excluir o cadastro do usuário definitivamente?' | translate }}</h5>
                                </div>
                                <div class="modal-footer">
                                    <button id="confirmar" type="button" class="btn btn-secondary" title="Confirmar Ação" (click)="c('Close click')" (click)="deleteUser(user)">{{ 'Confirmar' | translate }}</button>
                                    <button id="cancelar" type="button" class="btn btn-secondary" title="Cancelar Ação" (click)="c('Close click')">{{ 'Cancelar' | translate }}</button>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <!-- *********************** BRASILIANO ******************************** -->
        <div class="card" id="cardPagination">
            <div class="card-body">
                <nav aria-label="...">
                    <ul class="pagination" id="alinhamento">
    
                        <li class="page-item" *ngIf="numeroDaPagina !== 1">
                            <a href="#" aria-label="Previous" class="page-link" (click)="paginar((numeroDaPagina - 1), $event)">
                                <span aria-hidden="true"> &laquo;</span>
                                <span class="sr-only">{{ 'Anterior' | translate }}</span>
                            </a>
                        </li>
    
                        <li class="page-item" *ngFor="let valorDaPagina of listaDePaginacao" [ngClass]="{'active': valorDaPagina===pagina}">
                            <a href="#" checked class="page-link" (click)="paginar(valorDaPagina, $event)">{{ valorDaPagina }}</a>
                        </li>
    
                        <li class="page-item" *ngIf="numeroDaPagina !== listaDePaginacao.length">
                            <a href="#" aria-label="Next" class="page-link" (click)="paginar((numeroDaPagina + 1), $event)">
                                <span aria-hidden="true"> &raquo;</span>
                                <span class="sr-only">{{ 'Proximo' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <!-- <div *ngIf="visualization">
        <app-system-users-visualization [id]="idVisualization" (close)="closeVisualization($event)"></app-system-users-visualization>
    </div> -->