<div *ngIf="!visualization">

    <nav class="navbar navbar-light bg-light" >
        <div class="row">

            <div class="col-md-6">
                <select class="custom-select" #selectSearch>
                    <option disabled selected value> buscar por.. </option>
                    <option value="name"> nome </option> 
                    <option value="cpf"> cpf </option>
                    <option value="rg"> rg </option>
                </select>
            </div>

            <div class="col-md-4">
                <input class="form-control" type="search" placeholder="buscar.." aria-label="Search" #inputSearch (keyup)="search( selectSearch.value, inputSearch.value)">
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary" type="submit" (click)="search(selectSearch.value, inputSearch.value)">
                    Buscar
                </button>
            </div>

        </div>
    </nav>

    <table class="table-hover">
        <thead>
            <tr>
                <th id="primeiro-th"> Nome Completo </th>
                <th> E-mail </th>
                <th> CPF </th>
                <th> Status </th>
                <th id="ultimo-th"> Ações </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of apiUser">
                <td class="primeiro-td"> {{ user.name }} </td>
                <td> {{ user.email }}</td>
                <td> {{ user.documents[0].value }}</td>
                <!-- *********************** HABILITADO ******************************** -->
                <td *ngIf="user.active"> on
                    <br>
                    <label class="switch">
                        <input type="checkbox" (click)="trocaStatus(user)" checked>
                        <span class="slider round"></span>
                    </label>
                </td>
                <!-- *********************** DESABILITADO ******************************** -->
                <td *ngIf="!user.active"> off
                    <br>
                    <label class="switch">
                        <input type="checkbox" (click)="trocaStatus(user)">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="ultimo-td" id="excessao">
                    <div class=container>
                        <!-- *********************** VISUALIZAR ******************************** -->
                        <button id="visualization" type="submit" title="Visualizar cadastro" (click)="openVisualization(user._id)">
                            <span class="fa fa-eye"></span>
                        </button>

                        <ng-template #contentVisu let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <button id="btnVisu" type="submit" (click)="addNewUser()" (click)="d('Cross click')">
                                    <span class="fa fa-user-plus"></span>
                                </button>

                                <button id="btnVisu" type="submit" (click)="editUsers(user)" (click)="d('Cross click')">
                                    <span class="fa fa-pencil-square-o"></span>
                                </button>

                                <button id="btnVisu" type="submit" (click)="openDelete(content)" (click)="d('Cross click')">
                                    <span class="fa fa-user-times"></span>
                                </button>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <thead>

                            </thead>
                        </ng-template>

                        <!-- *********************** EDITAR ******************************** -->
                        <button id="edit" type="submit" title="Editar Usuário" (click)="editUsers(user)">
                            <span class="fa fa-pencil"></span>
                        </button>

                        <!-- *********************** DELETAR ******************************** -->
                        <button id="delete" type="submit" class="btn btn-primary" title="Deletar usuário" (click)="openDelete(content)">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>

                    <ng-template #content let-c="close">
                        <div class="modal-header">
                            <h2 class="modal-title">Excluir</h2>
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title">Deseja excluir o cadastro do usuário definitivamente?</h5>
                        </div>
                        <div class="modal-footer">
                            <button id="confirmar" type="button" class="btn btn-secondary" title="Confirmar Ação" (click)="c('Close click')" (click)="deleteUser(user)">Confirmar</button>
                            <button id="cancelar" type="button" class="btn btn-secondary" title="Cancelar Ação" (click)="c('Close click')">Cancelar</button>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- *********************** BRASILIANO ******************************** -->
    <div class="card" id="cardPagination">
        <div class="card-body">
            <nav aria-label="...">
                <ul class="pagination" id="alinhamento">

                    <li class="page-item" *ngIf="numeroDaPagina !== 1">
                        <a href="#" aria-label="Previous" class="page-link" (click)="paginar((numeroDaPagina - 1), $event)">
                            <span aria-hidden="true"> &laquo;</span>
                            <span class="sr-only"> Previous</span>
                        </a>
                    </li>

                    <li class="page-item" *ngFor="let valorDaPagina of listaDePaginacao" [ngClass]="{'active': valorDaPagina===pagina}">
                        <a href="#" checked class="page-link" (click)="paginar(valorDaPagina, $event)">{{ valorDaPagina }}</a>
                    </li>

                    <li class="page-item" *ngIf="numeroDaPagina !== listaDePaginacao.length">
                        <a href="#" aria-label="Next" class="page-link" (click)="paginar((numeroDaPagina + 1), $event)">
                            <span aria-hidden="true"> &raquo;</span>
                            <span class="sr-only"> Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div>
                <div id="qtdForPage">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label style="margin-right:5px;">Exibir</label>
                            <select class="selectpicker form-control" #select (change)="quantPorPagina(select.value)">
                                <option value="10"> 10 </option>
                                <option value="15"> 15 </option>
                                <option value="20"> 20 </option>
                                <option value="25"> 25 </option>
                                <option value="0"> todos </option>
                            </select>
                            <label style="margin-left:5px;">Registros</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="visualization">
    <app-system-users-visualization [id]="idVisualization" (close)="closeVisualization($event)"></app-system-users-visualization>
</div>