.main-container {
    position: relative;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 20px;
    padding: 49px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
