$topnav-background-color: #18638c;

.menu-icon {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    width: 70px;
    height: 60px;
    border-right: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    left: 10px;
    top: 5px;
    text-align: center;
    z-index: 101;
}

#chk {
    display: none;
}

#chk:checked ~ #principal {
    transform: translateX(300px);
}

#chk:checked ~.bg {
    display: block;
}

.menu {
    height: 100%;
    position: absolute;
    background-color: $topnav-background-color;
    top: 0;
    overflow: hidden;
    transition: all .2s;
    z-index: 100;
}

#principal {
    width: 300px;
    left: -300px;
}

ul {
    float: right;
    list-style: none;
    position: relative;
    width: 340px;
    top: -25px;
    
}

ul li a {
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 0px;
    display: block;
    font-size: 18px;
    font-family: 'Arial';
    text-decoration: none;
    transition: all .2s;
}

ul li a:hover {
    color: $topnav-background-color;    
    background-color: #fff;
}

.bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 100;
}

#logo-projeto {
    width: 20px;
    margin-top: -17px;
    margin-left: 105px;
    margin-right: 9px;
}

.navbar-brand {
    color: #fff;
    padding-top: 27px;
    font-size: 20px;
}

hr {
    position: relative;
    top: -9px;
    background-color: rgb(204, 204, 204);
}

.fa-home, .fa-users, .fa-bus {
    font-size: 30px;
    margin-right: 10px;
}