 
    <div class="bg" id="bg"></div>
   
    <nav class="menu" id="principal" (mouseenter)="fundoEscuro('block')" (mouseleave)="fundoEscuro('none')">
       
        <img src="assets/images/logo_projeto.png" id="logo-projeto"> 
        <a class="navbar-brand" href="#"> Ilha Conectada </a>
       
        <ul>
            <li>
                <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" title="Principal" class="list-group-item">
                    <span class="ajuste"> {{ 'Principal' | translate }} </span>
                    <i class="fa fa-home"></i>
                </a>                        
            </li>

            <li>
                <a [routerLink]="['/system-users']" [routerLinkActive]="['router-link-active']" title="Usuários" class="list-group-item">
                    <span class="ajuste">{{ 'Usuários do Sistema' | translate }} </span>
                    <i class="fa fa-users"></i>
                </a>                        
            </li>

            <li>
                <a [routerLink]="['/university-transportation']" [routerLinkActive]="['router-link-active']" title="Transporte Universitário" class="list-group-item">
                    <span class="ajuste">{{ 'Transporte Universitário' | translate }} </span>
                    <i class="fa fa-bus"></i>
                </a>    
            </li>

        </ul>
    </nav>

