$topnav-background-color: #18638c;

.menu {
    height: 100%;
    position: fixed;
    background-color: $topnav-background-color;
    top: 0;
    overflow: hidden;
    transition: all .3s;
    z-index: 122;
}

#principal {
    width: 280px;
    left: -218px;
}

#principal:hover{
    transform: translateX(218px); 
}

ul {
    float: right;
    list-style: none;
    position: relative;
    width: 340px;
    top: -17px;
    
}

ul li a {
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 0px;
    display: block;
    font-size: 18px;
    font-family: 'Arial';
    text-decoration: none;
    transition: all .2s;
}

ul li a:hover {
    color: $topnav-background-color;    
    background-color: #fff;
}

.ajuste {
    padding-left: 8px;
}

.bg, #bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 121;
}

.fa-home, .fa-users, .fa-bus {
    font-size: 30px;
    float: right;
    margin-right: 2px;
}

#logo-projeto {
    width: 28px;
    float: right;
    margin-top: 6px;
    margin-right: 21px;
}

.navbar-brand {
    color: #fff;
    padding-top: 17px;
    margin-left: 25px;
    font-size: 20px;
}

hr.header{
    margin-top: 13px;
    height: 1px;
    background-color: #fff;    
}